<div class="contact-info" data-aos="fade-up">
    <div id="aadharInfo">
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <h4 style="margin-left:27px;" class="card-title">{{ 'PAN_INFO.CARD_TITLE' | translate }}</h4>
            </div>
            <div class="row">
                <div class="col-md-6 custom-or-border">
                    <div class="row col-md-12">
                        <div class="col-md-9 col-sm-7 col-xs-9" id="dropboxArea">
                            <label class="form-label">{{ 'PAN_INFO.UPLOAD_PAN' | translate }}</label>
                            <div [hidden]="isManualUpload" id="sharedImage">
                                <a [hidden]="isDigilockerFetching" href="javascript:void(0);" (click)="removeFile()" style="z-index: 60;position:absolute;right: 3.6%;top: 10%;background-color:white;" title="Change uploaded file"><span class="glyphicon glyphicon-edit"></span></a>
                                <img [hidden]="isDigilockerFetching" src="{{baseUrl}}/{{model.application_id}}/{{docType}}/{{uploadedFileName}}" style="width:100%;margin-bottom:10px;height:190px;">
                                <a [hidden]="!isDigilockerFetching" href="javascript:void(0);" (click)="cancelUploding()" style="z-index: 60;position:absolute;right: 3.6%;top: 10%;background-color:white;" title="Cancle Uploding"><span class="glyphicon glyphicon-edit"></span></a>
                                <img [hidden]="!isDigilockerFetching" src="/assets/images/uploading_doc.gif" style="width:120px;margin-top:5%;margin-left:25%">
                            </div>
                            <div id="panDropBox" [hidden]="!isManualUpload">
                                <dropzone (removedfile)="removeFile($event)" (addedfile)="clicked()" (success)="panDetails($event)" [config]="config" [message]="uploadPANMsg"></dropzone>
                            </div>

                        </div>
                        <div title="Upload from digilocker" id="thirdPartyUpload" class="col-md-3 col-sm-3 col-xs-3 pan-digilocker-button" style="top:25px !important;margin-bottom:20px !important;">
                            <div class="share_fm_dl_sm" id="attachment_poi">
                            </div>
                        </div>

                    </div>
                    <hr class="custom-or-hr">
                    <div id="aadharOr" class="custom-or-style">
                        <p>or</p>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1" style="margin-bottom: 15px;">
                    <label [hidden]="pan_togle_msg" class="form-label">{{ 'PAN_INFO.PAN_NUMBER' | translate }}</label>
                    <label [hidden]="!pan_togle_msg" class="form-label">{{ 'PAN_INFO.PAN_NUMBER_validation_msg' | translate }}</label>
                    <input id="panInput" maxlength="10" type="text" (paste)="validatePAN($event)" (keyup)="validatePAN($event)" [(ngModel)]="model.pan" name="pan" class="txtbox" placeholder="XXXXXXXXXX" autocomplete="off" />
                </div>
                <br>
                <div id="uploaingMsg" [hidden]="!uploadmsg" class="col-md-4 col-md-offset-1" style="margin-bottom:20px;">
                    <div class="existing-member-login">
                        <div class="info-alert center-msg">
                            <div class="alert-msg"><small>{{ 'PAN_INFO.OCR_MSG' | translate }}</small>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div id="docError" [hidden]="!(doc_erroe) || !model.pan=='' || !model.pan==null" class="col-md-4 col-md-offset-1" style="margin-bottom:20px;">
                    <div class="existing-member-login">
                        <div class="info-alert center-msg">
                            <div class="alert-msg"><small>{{ 'PAN_INFO.OCR_DOC_ERROR' | translate }}</small>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
					<div class="col-md-6 col-sm-6 has-min-height-106">
						<div class="checkbox" style="background-color: #d7e7f3;padding-top: 10px;padding-bottom: 10px;padding-left: 22px;">
							<input id="crossSellCheckBtn" class="styled" type="checkbox" [(ngModel)]="isCrossSell" name="crossSell">
							<label for="crossSellCheckBtn">{{crossSellDisplaytext}}</label>
						</div>
					</div>
				</div>
            <br>
            <div class="row col-md-4 col-md-offset-4">
                <a tabindex="-1" (click)="moveBack()" class="btn btn-icon-back-in-pan"> <img src="/assets/images/back-icon.svg" alt="back-icon" tabindex="0"> </a>
                <button [disabled]="panFlag" type="submit" tabindex="0" [ladda]="false" data-style="expand-right" data-spinner-color="white" class="btn btn-form-primary"><span class="ladda-label">{{ 'PAN_INFO.PROCEED' | translate }}</span></button>
            </div>
        </form>
    </div>
</div>

<div id="success" class="modal fade" role="dialog " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-pop matching-customer-details ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="success-modal">
                    <button type="button" class="close" data-dismiss="modal" [routerLink]="[ '/home']" (click)="clear()"><img src="/assets/images/close.svg " alt=" "></button>
                    <div class="center-content ">
                        <span class="info-icon successicon "><img src="/assets/images/success.svg " alt=" "></span>
                        <h2>{{'SUCCESS_MODAL.SUCCESS' | translate}}</h2>
                        <h4>{{'SUCCESS_MODAL.SETUP_MSG' | translate}}</h4>
                        <div class="customer-details">
                            <div class="details-label">
                                <p class="cust-id ">{{'SUCCESS_MODAL.CUST_ID' | translate}}</p>
                            </div>
                            <div class="sybmol">
                                <p class="cust-id"> :</p>
                            </div>
                            <div class="cus-details-value">
                                <p class="cust-id"><strong>345098790</strong></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="customer-details">
                            <div class="details-label">
                                <p class="bsb ">{{'SUCCESS_MODAL.IFSC_CODE' | translate}}</p>
                            </div>
                            <div class="sybmol">
                                <p class="bsb"> :</p>
                            </div>
                            <div class="cus-details-value">
                                <p class="bsb"><strong>SBIN1234</strong></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="customer-details">
                            <div class="details-label">
                                <p class="act-no">{{'SUCCESS_MODAL.ACC_NUMBER' | translate}}</p>
                            </div>
                            <div class="sybmol">
                                <p class="act-no"> :</p>
                            </div>
                            <div class="cus-details-value">
                                <p class="act-no"><strong>123456989797</strong></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="existing-member-login">
                            <div class="info-alert center-msg">
                                <div class="alert-msg">{{'INFO_MESSAGE.INF_003' | translate}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--<p class="continue-qstn ">Do you want to continue with Internet Banking registration
            </p>-->
                        <a [routerLink]="[ '/home']" class="regbtn" data-dismiss="modal" (click)="clear()">{{'SUCCESS_MODAL.HOME' | translate}}</a>
                        <a [routerLink]="[ '../passwordSetup']" (click)="moveForward()" class="regbtn" data-dismiss="modal">{{'SUCCESS_MODAL.REGISTER_MSG' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>